src/main/resources/schemas/CRDataNode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CRDataNode" type="CRDataNodeType"/>
  <xs:complexType name="typeType">
    <xs:sequence>
      <xs:element type="CRNodeTypeType" name="CRNodeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CRDataNodeType">
    <xs:sequence>
      <xs:element type="xs:string" name="creationDate"/>
      <xs:element type="xs:string" name="dataNodeID"/>
      <xs:element type="xs:string" name="deleted"/>
      <xs:element type="xs:string" name="exportCode"/>
      <xs:element type="xs:string" name="isDefault"/>
      <xs:element type="xs:string" name="isHidden"/>
      <xs:element type="xs:string" name="isSystem"/>
      <xs:element type="xs:string" name="modificationDate"/>
      <xs:element type="xs:string" name="notActive"/>
      <xs:element type="xs:string" name="notes"/>
      <xs:element type="xs:string" name="sortOrder"/>
      <xs:element type="xs:string" name="value"/>
      <xs:element type="typeType" name="type"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
  <xs:complexType name="CRNodeTypeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>