src/main/resources/schemas/NSException.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NSException" type="NSExceptionType"/>
  <xs:complexType name="NSExceptionType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="reason"/>
      <xs:element type="xs:string" name="userInfo"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>